<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memebr</title>
</head>
<body>
    <h3>This is the member page</h3>
    <div>Hello, <b><%= name %></b>. Welcome.</div>

    <h2>All member info:</h2>
    <% for(let i=0; i<data.length; i++){ %>
        <div><%= data[i].name %></div>
        <% } %>
        
    <div>
        <a href="/signout" style="color: blue;"> click here</a> to sign out
    </div>
</body>
</html>